

/* HEADINGS */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5 {
  font-family: var(--ff-serif);
  line-height: 1;
}

.h5 {
  font-family: var(--ff-sans-headings);
  letter-spacing: var(--ls-large);
  font-weight: 400;
}

/* SUBHEADINGS */

.subheading-one {
  font-size: var(--fs-800);
  font-family: var(--ff-serif);
}

.subheading-two {
  font-size: var(--fs-xs);
  font-family: var(--ff-sans-headings);
  letter-spacing: var(--ls-narrow);
}

.nav-text {
  font-size: var(--fs-300);
  font-family: var(--ff-sans-headings);
  letter-spacing: var(--ls-medium);
}

/* UTILITIES */

.font-serif {
  font-family: var(--ff-serif);
}

.font-sans {
  font-family: var(--ff-sans-headings);
}

.font-sans-body {
  font-family: var(--ff-sans-body);
}

.uppercase {
  text-transform: uppercase;
}

.letter-gap-lg {
  letter-spacing: var(--ls-large);
}

/* FONT SIZING */

.h1, .fs-xxl {
  font-size: var(--fs-xxl);
}

.h2, .fs-xl {
  font-size: var(--fs-xl);
}

.h3, .fs-lg {
  font-size: var(--fs-lg);
}

.h4, .fs-900 {
  font-size: var(--fs-900);
}

h5,
.h5, .fs-800 {
  font-size: var(--fs-800);
}

.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-xs {
  font-size: var(--fs-xs);
}
